<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/reg.css" type="text/css">
    <title>Todo | Login</title>
</head>
<body>
    <main>
        <h2>Welcome<br/></h2>
        <h3>Please Login Below To Use This Application</h3>
        <form action="#" onsubmit="event.preventDefault()" autocomplete="off">

            <div class="form-group">
                <input type="email" placeholder="Email address*" id="email" onkeyup="validLoginEmail()">
                <span class="error" id="emailError"></span>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password*" id="pass" onkeyup="validLoginPassword()">
                <span class="error" id="passError"></span>

            </div>
            <div class="form-group">
                <input type="button" value = "Log In" id="login">
            </div>
        </form>
        <p>Forgot your password <a href="/passReset" target="_self" rel="noopener noreferrer">Reset</a> it here</p>

        <p>Have no account <a href="/register" target="_self" rel="noopener noreferrer">Register</a> here</p>
    </main>

    <script src="/assets/js/form.js"></script>
</body>
</html>